---
downloads: ~/.ansible-downloads/

# Git settings
git:
  global:
    user_name: Adrian Szwajkowski
    user_email: 3184551+aszwajkowski@users.noreply.github.com

# Homebrew settings
homebrew_taps:
  - homebrew/core
  - homebrew/cask
  - hashicorp/tap
  - FelixKratz/formulae
  - databricks/tap

homebrew_installed_packages:
  - act # Run GitHub Actions locally
  - actionlint
  - argocd
  - awscli
  - azcopy
  - azure-cli
  - Azure/kubelogin/kubelogin
  - btop # Resource monitor
  - databricks
  - borders # Colored borders around windows
  - fzf # Command-line fuzzy finder
  - git
  - gh
  - git
  - git-lfs
  - gnu-time
  - go
  - gpg
  - gradle
  - graphviz
  - helm
  - httpie
  - jq
  - k9s
  - kubectl
  - neovim
  - node
  - osmium-tool
  - osmosis
  - pinentry-mac
  - pipx
  - postgis
  - postgresql
  - pre-commit
  - prettier # Code formatter for JavaScript, CSS, JSON, GraphQL, Markdown, YAML
  - saml2aws
  - superfile # Console file manager
  - terraform
  - terragrunt
  - tflint
  - vault # Secrets management
  - watch
  - wget
#  - chruby # Ruby package# manager
#  - ruby-install # Ruby

homebrew_uninstalled_packages: []

homebrew_cask_appdir: /Applications
homebrew_cask_apps:
  - 1password # Password manager
  - confluent-cli # Confluent Cloud
  - dbeaver-community # Universal database client
  - dockutils # Manage and customize macOS Dock
  - font-fira-code-nerd-font # Nerd font for terminal
  - gimp # Graphical editor
  - google-earth-pro # Geospatial visualization
  - insomnia # REST client/API development
  - iterm2 # Default terminal replacement
  - jetbrains-toolbox # IntelliJ, etc.
  - josm # OpenStreetMap editor
  - logitech-g-hub # Logitech peripherals
  - microsoft-azure-storage-explorer # Azure resources explorer
  - microsoft-remote-desktop # Remote desktop
  - nikitabobko/tap/aerospace # Tiling window manager
  - obs # Screen recording and streaming
  - openlens # Kubernetes GUI
  - pgadmin4 # Postgres GUI
  - qgis # Geospatial visualization
  - rancher # Container management
  - raycast # Shortcut to everything
  - stats # System monitor for menu bar
  - temurin # Java
  - vb-cable # Virtual audio device
  - visual-studio-code # IDE
  - visualvm # Profiler
  - vivaldi # Web browser based on chromium

# Dock settings
configure_dock: true
dockitems_remove:
  - Safari
  - Messages
  - Mail
  - Maps
  - Photos
  - FaceTime
  - Calendar
  - Contacts
  - Reminders
  - Freeform
  - TV
  - Music
  - Keynote
  - Numbers
  - Pages
  - Terminal
  - 'App Store'
  - 'Microsoft Excel'
  - 'Microsoft OneNote'
  - 'Microsoft PowerPoint'
  - 'Microsoft Word'
  - 'OneDrive'

dockitems_persist:
  - name: "Launchpad"
    path: "/Applications/Launchpad.app"
    pos: 1
  - name: "Vivaldi"
    path: "/Applications/Vivaldi.app"
    pos: 2
  - name: "Microsoft Teams (work or school)"
    path: "/Applications/Microsoft Teams.app"
    pos: 3
  - name: "Slack"
    path: "/Applications/Slack.app"
    pos: 4
  - name: "Microsoft Outlook"
    path: "/Applications/Microsoft Outlook.app"
    pos: 5
